::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97), #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mabry Pro";
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
:root {
  --orange: #FF5B27;
  --black: #1D1F23;
  --gray: #949494;
  --light-gray: #F1F1F1;
  --white: #FFf;
}

.container {
  max-width: 1440px;
  width: 100%;
}

.count {
  background: var(--orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: 90px;
}
@media (max-width: 576px) {
  .count {
    display: none;
  }
}
.count span {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}

@font-face {
  font-family: "Mabry Pro";
  src: url("../font/MabryPro-Bold.eot");
  src: local("Mabry Pro Bold"), local("MabryPro-Bold"), url("../font/MabryPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/MabryPro-Bold.woff2") format("woff2"), url("../font/MabryPro-Bold.woff") format("woff"), url("../font/MabryPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mabry Pro";
  src: url("../font/MabryPro-Regular.eot");
  src: local("Mabry Pro"), local("MabryPro-Regular"), url("../font/MabryPro-Regular.eot?#iefix") format("embedded-opentype"), url("../font/MabryPro-Regular.woff2") format("woff2"), url("../font/MabryPro-Regular.woff") format("woff"), url("../font/MabryPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.btn-orange {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%;
  background: var(--orange);
  border-radius: 30px;
  padding: 18px 37px;
}
@media (max-width: 768px) {
  .btn-orange {
    font-size: 20px;
    padding: 16px 34px;
  }
}
@media (max-width: 576px) {
  .btn-orange {
    font-size: 19px;
    padding: 15px 32px;
  }
}

header {
  position: relative;
  background: url("../image/header-bg1.png") center no-repeat;
  background-size: cover;
  min-height: 110vh;
}
@media (max-width: 576px) {
  header {
    min-height: 75vh;
  }
}
header .logo {
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
}
header .logo .logo-item {
  background: var(--orange);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 123px;
  height: 111px;
  z-index: 2;
  transition: 0.3s;
  overflow: hidden;
  padding-left: 40px;
}
@media (max-width: 576px) {
  header .logo .logo-item {
    width: 75px;
    height: 68px;
    padding-left: 28px;
  }
}
header .logo .logo-item:hover {
  width: 427px;
}
@media (max-width: 576px) {
  header .logo .logo-item:hover {
    width: 240px;
  }
}
header .logo .logo-item:hover .number {
  display: initial;
  z-index: 5;
}
@media (max-width: 576px) {
  header .logo .logo-item img {
    width: 20px;
    height: 38px;
  }
}
header .logo .logo-item .number {
  display: block;
  white-space: nowrap;
  margin-left: 45px;
}
@media (max-width: 576px) {
  header .logo .logo-item .number {
    margin-left: 15px;
  }
}
header .logo .logo-item .number a {
  color: var(--white);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.5%;
}
@media (max-width: 576px) {
  header .logo .logo-item .number a {
    font-size: 17px;
  }
}
header .logo .logo-number {
  display: none;
  position: absolute;
  left: 124px;
  top: 40px;
  width: 300px;
}
@media (max-width: 576px) {
  header .logo .logo-number {
    font-size: 17px !important;
    top: 23px;
    left: 60px;
  }
}
header .logo .logo-number.active {
  z-index: -1;
  display: flex;
  color: var(--white);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 122.5%;
}
header .info {
  padding-top: 161px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  header .info {
    justify-content: center;
    padding-top: 100px;
  }
}
header .info .heading {
  color: var(--black);
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.5%; /* 69.875px */
  text-transform: uppercase;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 53px;
}
@media (max-width: 1024px) {
  header .info .heading {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  header .info .heading {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  header .info .heading {
    font-size: 25px;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  header .info .btn-orange {
    display: none;
  }
}
@media (max-width: 576px) {
  header .info .content-center {
    display: none;
  }
}
header .info .content-center .pulse i {
  color: #fff !important;
  font-size: 20px;
}
header .info .content-center .pulse {
  cursor: pointer;
  height: 100px;
  width: 100px;
  background-color: var(--orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .info .content-center .pulse::before {
  content: "";
  position: absolute;
  border: 1px solid var(--orange);
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}
header .info .content-center .pulse::after {
  content: "";
  position: absolute;
  border: 1px solid var(--orange);
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
  animation-delay: 0.3s;
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
header .header-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
@media (max-width: 576px) {
  header .header-footer {
    margin-top: 30px;
    justify-content: end;
  }
}
header .header-footer .sale {
  background: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 187px;
  width: 100%;
  height: 187px;
  border-radius: 15px;
}
@media (max-width: 576px) {
  header .header-footer .sale {
    width: 76px;
    height: 76px;
    margin-right: 10px;
  }
}
header .header-footer .sale p {
  color: var(--white);
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 576px) {
  header .header-footer .sale p {
    font-size: 10px;
  }
}
header .header-footer .sale h4 {
  color: #FFF;
  font-size: 65px;
  font-weight: 700;
  line-height: 107.5%; /* 69.875px */
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 576px) {
  header .header-footer .sale h4 {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  header .header-footer .sale h4 {
    font-size: 26px;
  }
}
header .header-footer .sale h4 samp {
  color: #FFF;
  font-size: 29px;
  font-weight: 400;
  line-height: 107.5%;
}
@media (max-width: 576px) {
  header .header-footer .sale h4 samp {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  header .header-footer .sale h4 samp {
    font-size: 11px;
  }
}
header .button {
  display: none;
}
@media (max-width: 576px) {
  header .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

.gsap {
  margin-top: 30px;
}
.gsap .inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .gsap .inner {
    justify-content: center;
  }
}
.gsap .inner .title {
  margin-right: 120px;
}
@media (max-width: 768px) {
  .gsap .inner .title {
    margin-right: 100px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .title {
    margin-right: 10px;
  }
}
.gsap .inner .title .heading {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%; /* 34.3px */
  max-width: 275px;
  width: 100%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .gsap .inner .title .heading {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .title .heading {
    margin-bottom: 14px;
    font-size: 18px;
  }
}
.gsap .inner .title .subtitle {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%; /* 26.95px */
  border-bottom: 1px solid var(--orange);
  white-space: nowrap;
}
@media (max-width: 768px) {
  .gsap .inner .title .subtitle {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .title .subtitle {
    font-size: 16px;
  }
}
.gsap .inner .boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
}
@media (max-width: 576px) {
  .gsap .inner .boxs {
    justify-content: center;
  }
}
.gsap .inner .boxs::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.gsap .inner .boxs .box {
  margin-right: 120px;
}
@media (max-width: 768px) {
  .gsap .inner .boxs .box {
    margin-right: 100px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .boxs .box {
    margin-right: 50px;
  }
}
.gsap .inner .boxs .box:last-child {
  margin-right: 0;
}
.gsap .inner .boxs .box .box-title {
  display: flex;
  align-items: center;
}
.gsap .inner .boxs .box .box-title h2 {
  color: #000;
  font-size: 65px;
  font-weight: 700;
  line-height: 107.5%; /* 69.875px */
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .gsap .inner .boxs .box .box-title h2 {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .boxs .box .box-title h2 {
    font-size: 35px;
  }
}
.gsap .inner .boxs .box .box-title span {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%; /* 34.3px */
  margin-left: 14px;
}
@media (max-width: 768px) {
  .gsap .inner .boxs .box .box-title span {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .boxs .box .box-title span {
    font-size: 20px;
  }
}
.gsap .inner .boxs .box p {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%; /* 26.95px */
  white-space: nowrap;
}
@media (max-width: 768px) {
  .gsap .inner .boxs .box p {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .boxs .box p {
    font-size: 16px;
  }
}

.slider {
  margin-top: 95px;
}
.slider .heading {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 107.5%; /* 48.375px */
  text-transform: uppercase;
  margin-bottom: 25px;
}
.slider .subtitle {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
.slider .subtitle span {
  color: var(--orange);
  font-size: 18px;
  font-weight: 700;
  line-height: 141.5%;
}
.slider .col-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider .col-box .image {
  background: url("../image/slider1.png") center no-repeat;
  background-size: cover;
  width: 1071px;
  height: 512px;
  position: relative;
}
.slider .col-box .image .count {
  position: absolute;
  left: 20px;
  top: 20px;
  margin: 0;
}
.slider .col-box .image .inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider .col-box .image .inner .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.slider .col-box .image .inner .buttons .button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--black);
  margin-right: 8px;
}
.slider .col-box .image .inner .buttons .button:last-child {
  margin-right: 0;
}
.slider .col-box .image .inner .slider-text {
  max-width: 733px;
  width: 100%;
  background: var(--black);
  padding: 25px 24px;
  display: flex;
  justify-content: start;
}
.slider .col-box .image .inner .slider-text span {
  color: var(--white);
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%; /* 26.95px */
}

/*# sourceMappingURL=style.css.map */
