::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97), #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mabry Pro";
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
:root {
  --orange: #FF5B27;
  --black: #1D1F23;
  --gray: #949494;
  --light-gray: #F1F1F1;
  --white: #FFf;
}

.container {
  max-width: 1440px;
  width: 100%;
}

.count {
  background: var(--orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: 90px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
@media (max-width: 576px) {
  .count {
    display: none;
  }
}

@font-face {
  font-family: "Mabry Pro";
  src: url("../font/MabryPro-Bold.eot");
  src: local("Mabry Pro Bold"), local("MabryPro-Bold"), url("../font/MabryPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/MabryPro-Bold.woff2") format("woff2"), url("../font/MabryPro-Bold.woff") format("woff"), url("../font/MabryPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mabry Pro";
  src: url("../font/MabryPro-Regular.eot");
  src: local("Mabry Pro"), local("MabryPro-Regular"), url("../font/MabryPro-Regular.eot?#iefix") format("embedded-opentype"), url("../font/MabryPro-Regular.woff2") format("woff2"), url("../font/MabryPro-Regular.woff") format("woff"), url("../font/MabryPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
.btn-orange {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%;
  background: var(--orange);
  border-radius: 30px;
  padding: 18px 37px;
}
@media (max-width: 768px) {
  .btn-orange {
    font-size: 20px;
    padding: 16px 34px;
  }
}
@media (max-width: 576px) {
  .btn-orange {
    font-size: 19px;
    padding: 15px 32px;
  }
}

.fix-button {
  position: fixed;
  bottom: 25px;
  left: 25px;
  max-width: 355px;
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: var(--white);
  padding: 0 21px;
}
@media (max-width: 576px) {
  .fix-button {
    display: none;
  }
}
.fix-button span {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%;
}
.fix-button .fix-button-btn {
  background: transparent;
  color: var(--orange);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}

.content-centerr {
  position: fixed;
  right: 60px;
  bottom: 20px;
  z-index: 5;
}
@media (max-width: 576px) {
  .content-centerr {
    display: none;
  }
}
.content-centerr .phone i {
  color: #fff !important;
  font-size: 20px;
}
.content-centerr .phone {
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-color: var(--orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content-centerr .phone::before {
  content: "";
  position: absolute;
  border: 1px solid var(--orange);
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}
.content-centerr .phone::after {
  content: "";
  position: absolute;
  border: 1px solid var(--orange);
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
  animation-delay: 0.3s;
}
@keyframes phone {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

header {
  position: relative;
  background: url("../image/header-bg1.png") center no-repeat;
  background-size: cover;
  min-height: 110vh;
}
@media (max-width: 576px) {
  header {
    min-height: 70vh;
  }
}
header .logo {
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 5;
}
header .logo .logo-item {
  background: var(--orange);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 123px;
  height: 111px;
  z-index: 2;
  transition: 0.3s;
  overflow: hidden;
  padding-left: 40px;
}
@media (max-width: 576px) {
  header .logo .logo-item {
    width: 75px;
    height: 68px;
    padding-left: 28px;
  }
}
header .logo .logo-item:hover {
  width: 427px;
}
@media (max-width: 576px) {
  header .logo .logo-item:hover {
    width: 240px;
  }
}
header .logo .logo-item:hover .number {
  display: initial;
  z-index: 5;
}
@media (max-width: 576px) {
  header .logo .logo-item img {
    width: 20px;
    height: 38px;
  }
}
header .logo .logo-item .number {
  display: block;
  white-space: nowrap;
  margin-left: 45px;
}
@media (max-width: 576px) {
  header .logo .logo-item .number {
    margin-left: 15px;
  }
}
header .logo .logo-item .number a {
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%;
}
@media (max-width: 576px) {
  header .logo .logo-item .number a {
    font-size: 17px;
  }
}
header .logo .logo-number {
  display: none;
  position: absolute;
  left: 120px;
  top: 38px;
  width: 300px;
}
@media (max-width: 576px) {
  header .logo .logo-number {
    font-size: 17px !important;
    top: 23px;
    left: 60px;
  }
}
header .logo .logo-number.active {
  z-index: -1;
  display: flex;
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%;
}
header .info {
  padding-top: 161px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  header .info {
    justify-content: center;
    padding-top: 100px;
  }
}
header .info .heading {
  color: var(--black);
  font-size: 65px;
  font-weight: 700;
  line-height: 107.5%; /* 69.875px */
  text-transform: uppercase;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 53px;
}
@media (max-width: 1024px) {
  header .info .heading {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  header .info .heading {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  header .info .heading {
    font-size: 25px;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  header .info .btn-orange {
    display: none;
  }
}
@media (max-width: 576px) {
  header .info .content-center {
    display: none;
  }
}
header .info .content-center .pulse i {
  color: #fff !important;
  font-size: 20px;
}
header .info .content-center .pulse {
  cursor: pointer;
  height: 100px;
  width: 100px;
  background-color: var(--orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .info .content-center .pulse::before {
  content: "";
  position: absolute;
  border: 1px solid var(--orange);
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}
header .info .content-center .pulse::after {
  content: "";
  position: absolute;
  border: 1px solid var(--orange);
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
  animation-delay: 0.3s;
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
header .header-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
@media (max-width: 576px) {
  header .header-footer {
    margin-top: 30px;
    justify-content: end;
  }
}
header .header-footer .sale {
  background: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 187px;
  width: 100%;
  height: 187px;
  border-radius: 15px;
}
@media (max-width: 576px) {
  header .header-footer .sale {
    width: 76px;
    height: 76px;
    margin-right: 10px;
  }
}
header .header-footer .sale p {
  color: var(--white);
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 576px) {
  header .header-footer .sale p {
    font-size: 10px;
  }
}
header .header-footer .sale h4 {
  color: #FFF;
  font-size: 65px;
  font-weight: 700;
  line-height: 107.5%; /* 69.875px */
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 576px) {
  header .header-footer .sale h4 {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  header .header-footer .sale h4 {
    font-size: 26px;
  }
}
header .header-footer .sale h4 samp {
  color: #FFF;
  font-size: 29px;
  font-weight: 400;
  line-height: 107.5%;
}
@media (max-width: 576px) {
  header .header-footer .sale h4 samp {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  header .header-footer .sale h4 samp {
    font-size: 11px;
  }
}
header .button {
  display: none;
}
@media (max-width: 576px) {
  header .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
}

.gsap {
  margin-top: 30px;
}
.gsap .inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .gsap .inner {
    justify-content: center;
  }
}
.gsap .inner .title {
  margin-right: 120px;
}
@media (max-width: 768px) {
  .gsap .inner .title {
    margin-right: 100px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .title {
    margin-right: 10px;
  }
}
.gsap .inner .title .heading {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%; /* 34.3px */
  max-width: 275px;
  width: 100%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .gsap .inner .title .heading {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .title .heading {
    margin-bottom: 14px;
    font-size: 18px;
  }
}
.gsap .inner .title .subtitle {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%; /* 26.95px */
  border-bottom: 1px solid var(--orange);
  white-space: nowrap;
}
@media (max-width: 768px) {
  .gsap .inner .title .subtitle {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .title .subtitle {
    font-size: 16px;
  }
}
.gsap .inner .boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
}
@media (max-width: 768px) {
  .gsap .inner .boxs {
    justify-content: left;
  }
}
.gsap .inner .boxs::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.gsap .inner .boxs .box-gsap {
  margin-right: 120px;
}
@media (max-width: 768px) {
  .gsap .inner .boxs .box-gsap {
    margin-right: 100px;
  }
}
@media (max-width: 768px) {
  .gsap .inner .boxs .box-gsap {
    margin-right: 50px;
    position: relative;
    left: 90px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .boxs .box-gsap {
    margin-right: 30px;
    position: relative;
    left: 150px;
  }
}
.gsap .inner .boxs .box-gsap:last-child {
  margin-right: 0;
}
.gsap .inner .boxs .box-gsap .box-title {
  display: flex;
  align-items: center;
}
.gsap .inner .boxs .box-gsap .box-title h2 {
  color: #000;
  font-size: 65px;
  font-weight: 700;
  line-height: 107.5%; /* 69.875px */
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .gsap .inner .boxs .box-gsap .box-title h2 {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .boxs .box-gsap .box-title h2 {
    font-size: 35px;
  }
}
.gsap .inner .boxs .box-gsap .box-title span {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%; /* 34.3px */
  margin-left: 14px;
}
@media (max-width: 768px) {
  .gsap .inner .boxs .box-gsap .box-title span {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .boxs .box-gsap .box-title span {
    font-size: 20px;
  }
}
.gsap .inner .boxs .box-gsap p {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%; /* 26.95px */
  white-space: nowrap;
}
@media (max-width: 768px) {
  .gsap .inner .boxs .box-gsap p {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .gsap .inner .boxs .box-gsap p {
    font-size: 16px;
  }
}

.slider {
  margin-top: 95px;
}
@media (max-width: 768px) {
  .slider {
    margin-top: 44px;
  }
}
.slider .heading {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 107.5%; /* 48.375px */
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .slider .heading {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .slider .heading {
    font-size: 20px;
  }
}
.slider .subtitle {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%;
}
@media (max-width: 576px) {
  .slider .subtitle {
    font-size: 14px;
  }
}
.slider .subtitle span {
  color: var(--orange);
  font-size: 18px;
  font-weight: 700;
  line-height: 141.5%;
}
@media (max-width: 576px) {
  .slider .subtitle span {
    font-size: 14px;
  }
}
.slider .col-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider .col-box .image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 1071px;
  height: 512px;
  position: relative;
  transition: 1s;
  overflow: hidden;
}
@media (max-width: 768px) {
  .slider .col-box .image {
    width: 800px;
    height: 450px;
  }
}
.slider .col-box .image .count {
  position: absolute;
  left: 20px;
  top: 20px;
  margin: 0;
}
@media (max-width: 768px) {
  .slider .col-box .image .count {
    display: flex;
  }
}
.slider .col-box .image .inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .slider .col-box .image .inner {
    justify-content: left;
  }
}
.slider .col-box .image .inner .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .slider .col-box .image .inner .buttons {
    display: none;
  }
}
.slider .col-box .image .inner .buttons .button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--black);
  margin-right: 8px;
  transition: 0.3s;
}
.slider .col-box .image .inner .buttons .button.active {
  background: var(--orange);
}
.slider .col-box .image .inner .buttons .button:last-child {
  margin-right: 0;
}
.slider .col-box .image .inner .slider-text {
  max-width: 733px;
  width: 100%;
  background: var(--black);
  padding: 25px 24px;
  display: flex;
  justify-content: start;
  transform: translate(800px, 800px) rotate(-270deg);
  transition: 1s;
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--white);
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%; /* 26.95px */
}
.slider .col-box .image .inner .slider-text.active {
  transform: translate(0, 0) rotate(0);
}
@media (max-width: 768px) {
  .slider .col-box .image .inner .slider-text {
    margin-left: 17px;
    max-width: unset;
  }
}
@media (max-width: 768px) {
  .slider .col-box .image .inner .slider-text {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .slider .col-box .image .inner .slider-text {
    font-size: 16px;
  }
}

.layouts {
  background: var(--black);
  margin-top: 60px;
  padding-bottom: 88px;
}
.layouts .container .heading {
  color: var(--white);
  font-size: 45px;
  font-weight: 700;
  line-height: 107.5%; /* 48.375px */
  text-transform: uppercase;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .layouts .container .heading {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .layouts .container .heading {
    font-size: 20px;
    margin-left: 20px;
  }
}
.layouts .container .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 44px 0;
}
@media (max-width: 1024px) {
  .layouts .container .inner {
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .layouts .container .inner {
    justify-content: center;
  }
}
.layouts .container .inner .box {
  width: calc(25% - 40px);
  margin-right: 40px;
  /* webkit specific styling */
}
@media (max-width: 1024px) {
  .layouts .container .inner .box {
    width: calc(50% - 40px);
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .layouts .container .inner .box {
    width: calc(100% - 40px);
  }
}
.layouts .container .inner .box:last-child {
  margin-right: 0;
}
.layouts .container .inner .box .noUi-horizontal {
  margin: 0 auto;
  width: 98%;
  height: 6px;
  top: 20px;
}
.layouts .container .inner .box .noUi-horizontal .noUi-handle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: var(--orange);
  background: var(--orange);
  box-shadow: 0 0 0 0;
}
.layouts .container .inner .box .noUi-horizontal .noUi-handle:before {
  display: none;
}
.layouts .container .inner .box .noUi-connect {
  background: var(--orange);
}
.layouts .container .inner .box .noUi-tooltip {
  border: none;
  padding: 0;
  background: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 141.5%; /* 25.47px */
}
.layouts .container .inner .box .noUi-handle:before, .layouts .container .inner .box .noUi-handle:after {
  display: none;
}
.layouts .container .inner .box .buttons {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .layouts .container .inner .box .buttons {
    display: none;
  }
}
.layouts .container .inner .box .buttons .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  border: 1px solid var(--white-35, rgba(255, 255, 255, 0.35));
  backdrop-filter: blur(7px);
  margin-right: 14px;
}
.layouts .container .inner .box .buttons .button.active {
  background: var(--orange);
}
.layouts .container .inner .box .buttons .button:last-child {
  margin-right: 0;
}
.layouts .container .inner .box .buttons .button span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
.layouts .container .inner .box .box-select {
  max-width: 330px;
  height: 54px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.15);
  padding: 0 21px;
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
@media (max-width: 576px) {
  .layouts .container .inner .box .box-select {
    display: flex;
    justify-content: center;
    max-width: 100%;
    font-size: 14px;
  }
}
.layouts .container .inner .box .box-select option {
  color: var(--black);
  background: rgba(255, 255, 255, 0.15);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
.layouts .container .inner .box .box-select1 {
  display: none;
  max-width: 330px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.15);
  padding: 22px 21px;
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
  margin: 0;
}
.layouts .container .inner .box .box-select1 option {
  color: var(--black);
  background: rgba(255, 255, 255, 0.15);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
@media (max-width: 576px) {
  .layouts .container .inner .box .box-select1 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    font-size: 14px;
  }
}
.layouts .container .inner .box .box-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
  margin-bottom: 42px;
}
@media (max-width: 576px) {
  .layouts .container .inner .box .box-title {
    font-size: 14px;
  }
}
.layouts .container .inner .box .min-max-slider {
  position: relative;
  max-width: 250px;
  width: 100%;
  text-align: center;
}
@media (max-width: 576px) {
  .layouts .container .inner .box .min-max-slider {
    margin: 0 auto;
  }
}
.layouts .container .inner .box .min-max-slider > label {
  display: none;
}
.layouts .container .inner .box span.value {
  height: 1.7em;
  font-weight: bold;
  display: inline-block;
}
.layouts .container .inner .box span.value.lower::before {
  content: " ";
  display: inline-block;
}
.layouts .container .inner .box span.value.upper::before {
  content: " ";
  display: inline-block;
  margin-left: 0.4em;
}
.layouts .container .inner .box .min-max-slider > .legend {
  display: flex;
  justify-content: space-between;
}
.layouts .container .inner .box .min-max-slider > .legend > * {
  font-size: small;
  opacity: 0.25;
}
.layouts .container .inner .box .min-max-slider > input {
  cursor: pointer;
  position: absolute;
}
.layouts .container .inner .box .lower {
  color: #fff !important;
}
.layouts .container .inner .box .upper {
  color: #fff !important;
}
.layouts .container .inner .box .min-max-slider > input {
  -webkit-appearance: none;
  color: var(--orange);
  outline: none !important;
  background: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, var(--orange) 30%, var(--orange) 60%, transparent 60%, transparent 100%);
}
.layouts .container .inner .box .min-max-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #eee; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid gray;
  border-radius: 100%;
}
.layouts .container .inner .box .min-max-slider > input::-webkit-slider-runnable-track {
  cursor: pointer;
}
.layouts .container .btn-orange {
  margin-bottom: 80px;
}
@media (max-width: 576px) {
  .layouts .container .btn-orange {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .layouts .container .btn-orange span {
    font-size: 16px;
  }
}
.layouts .container .btn-orange .percent {
  margin-left: 80px;
}
@media (max-width: 576px) {
  .layouts .container .btn-orange .percent {
    margin-left: 55px;
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .layouts .container .btn-orange .percent {
    margin-left: 30px;
  }
}
.layouts .container .col-box {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}
.layouts .container .col-box .col-item {
  padding: 20px;
}
.layouts .container .col-box .image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 207px;
}
.layouts .container .col-box .col-heding {
  color: var(--black);
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%; /* 26.95px */
  margin-top: 16px;
}
@media (max-width: 576px) {
  .layouts .container .col-box .col-heding {
    font-size: 16px;
  }
}
.layouts .container .col-box .col-subtitle {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
@media (max-width: 576px) {
  .layouts .container .col-box .col-subtitle {
    font-size: 14px;
  }
}
.layouts .container .col-box .price-bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layouts .container .col-box .price-bloc .price {
  color: var(--black);
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%; /* 34.3px */
}
@media (max-width: 768px) {
  .layouts .container .col-box .price-bloc .price {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .layouts .container .col-box .price-bloc .price {
    font-size: 18px;
  }
}
.layouts .container .col-box .price-bloc .price-orange {
  color: var(--orange);
}
.layouts .container .col-box .price-bloc .fromer {
  color: #949494;
  font-size: 18px;
  font-weight: 400;
  line-height: 122.5%; /* 22.05px */
  text-decoration: line-through;
}
@media (max-width: 576px) {
  .layouts .container .col-box .price-bloc .fromer {
    font-size: 13px;
  }
}
.layouts .container .col-box .price-bloc span {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
@media (max-width: 576px) {
  .layouts .container .col-box .price-bloc span {
    font-size: 14px;
  }
}
.layouts .container .col-box .buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 10px;
}
.layouts .container .col-box .buttons .button {
  padding: 9px 15px;
  border-radius: 30px;
  background: var(--light-gray);
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
@media (max-width: 576px) {
  .layouts .container .col-box .buttons .button {
    font-size: 12px;
  }
}
.layouts .container .col-box .buttons .button.active {
  background: var(--orange);
  color: var(--white);
}
.layouts .container .btn-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  max-width: 258px;
  width: 100%;
  margin: 0 auto;
  margin-top: 67px;
}
.layouts .container .btn-card span {
  font-size: 16px;
}
.layouts .container .btn-card .next {
  background: var(--white);
  border-radius: 50%;
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layouts .container .btn-card .next i {
  color: var(--orange);
}

.map {
  min-height: 100vh;
  background: url("../image/map.png") center no-repeat;
  background-size: cover;
  padding-top: 70px;
  position: relative;
}
.map .plus-minus {
  position: absolute;
  right: 250px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 40px;
  border: 1px solid #949494;
  background: var(--black);
  width: 68px;
  height: 151px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 2px;
}
@media (max-width: 1024px) {
  .map .plus-minus {
    right: 130px;
  }
}
@media (max-width: 768px) {
  .map .plus-minus {
    display: none;
  }
}
.map .plus-minus .border-plus {
  background: rgba(148, 148, 148, 0.3);
  height: 1px;
  width: 99%;
}
.map .plus-minus i {
  color: var(--white);
  cursor: pointer;
  font-size: 15px;
}
.map .inner .content {
  z-index: 5;
  background: var(--black);
  max-width: 493px;
  width: 100%;
  padding: 30px 20px;
}
@media (max-width: 768px) {
  .map .inner .content {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: unset;
    width: auto;
    overflow-x: scroll;
    position: relative;
    top: 350px;
  }
  .map .inner .content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
.map .inner .content .box-content {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .map .inner .content .box-content {
    margin-right: 100px;
    margin-bottom: 0;
    position: relative;
    left: 80px;
  }
}
@media (max-width: 576px) {
  .map .inner .content .box-content {
    margin-bottom: 0;
    margin-right: 40px;
    position: relative;
    left: 60px;
  }
  .map .inner .content .box-content:last-child {
    margin-right: 0;
  }
}
.map .inner .content .box-content:last-child {
  margin-bottom: 0;
}
.map .inner .content .box-content .box-title {
  display: flex;
  align-items: center;
}
.map .inner .content .box-content .box-title h3 {
  color: var(--white);
  font-size: 65px;
  font-weight: 700;
  line-height: 107.5%; /* 69.875px */
  text-transform: uppercase;
}
.map .inner .content .box-content .box-title span {
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%; /* 34.3px */
  margin-left: 14px;
}
.map .inner .content .box-content p {
  color: var(--white);
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%; /* 26.95px */
}
.map .inner .content .box-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.light-gray {
  background: var(--light-gray);
  padding-top: 50px;
}

.how-to-buy .container .col-box {
  padding: 40px 18px 10px 18px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: var(--white);
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box {
    padding: 20px 22px 15px 22px;
  }
}
.how-to-buy .container .col-box .col-heading {
  color: var(--black);
  font-size: 45px;
  font-weight: 700;
  line-height: 107.5%; /* 48.375px */
  margin-bottom: 35px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .how-to-buy .container .col-box .col-heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .col-heading {
    font-size: 25px;
  }
}
.how-to-buy .container .col-box .col-subtitle {
  color: #3A3D45;
  font-size: 18px;
  font-weight: 700;
  line-height: 141.5%; /* 25.47px */
  margin-bottom: 14px;
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .col-subtitle {
    font-size: 14px;
  }
}
.how-to-buy .container .col-box .buttons {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.how-to-buy .container .col-box .buttons .button {
  color: var(--orange);
  background: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
  border-radius: 30px;
  border: 1px solid var(--orange, #FF5B27);
  padding: 9px 15px;
  margin-right: 30px;
}
.how-to-buy .container .col-box .buttons .button:last-child {
  margin-right: 0;
}
.how-to-buy .container .col-box .buttons .button.active {
  color: var(--white);
  background: var(--orange);
}
.how-to-buy .container .col-box .prices {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .prices {
    display: block;
  }
}
.how-to-buy .container .col-box .prices .price {
  margin-right: 50px;
}
.how-to-buy .container .col-box .prices .price:last-child {
  margin-right: 0;
}
.how-to-buy .container .col-box .prices .price span {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%;
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .prices .price span {
    color: #949494;
    font-size: 14px;
  }
}
.how-to-buy .container .col-box .prices .price h4 {
  color: var(--black, #1D1F23);
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%;
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .prices .price h4 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .prices .price h4 {
    font-size: 18px;
  }
}
.how-to-buy .container .col-box .balance {
  display: flex;
  align-items: center;
  margin-top: 45px;
  padding-bottom: 50px;
}
.how-to-buy .container .col-box .balance span {
  color: var(--black, #1D1F23);
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%;
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .balance span {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .balance span {
    font-size: 18px;
  }
}
.how-to-buy .container .col-box .balance .btn-balance {
  color: var(--orange);
  background: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%;
  border-radius: 30px;
  border: 1px solid var(--orange);
  padding: 9px 15px;
  margin-left: 20px;
}
.how-to-buy .container .col-box .balance .btn-balance.active {
  background: var(--orange);
  color: var(--white);
}
.how-to-buy .container .col-box .box {
  margin-bottom: 70px;
}
.how-to-buy .container .col-box .box span {
  margin-bottom: 20px;
  color: var(--black, #1D1F23);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
.how-to-buy .container .col-box .box:last-child {
  margin-bottom: 0;
}
.how-to-buy .container .col-box .box .noUi-horizontal {
  margin: 0 auto;
  width: 98%;
  top: 45px;
  height: 6px;
}
.how-to-buy .container .col-box .box .noUi-horizontal .noUi-handle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: var(--orange);
  background: var(--orange);
  box-shadow: 0 0 0 0;
}
.how-to-buy .container .col-box .box .noUi-horizontal .noUi-handle:before {
  display: none;
}
.how-to-buy .container .col-box .box .noUi-connect {
  background: var(--orange);
}
.how-to-buy .container .col-box .box .noUi-tooltip {
  border: none;
  padding: 0;
  background: none;
  margin-left: 25px;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 141.5%; /* 25.47px */
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .box .noUi-tooltip {
    margin-left: 10px;
    font-size: 13px;
  }
}
.how-to-buy .container .col-box .btn-how-to-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  max-width: 258px;
  width: 100%;
  margin-top: 200px;
}
@media (max-width: 768px) {
  .how-to-buy .container .col-box .btn-how-to-buy {
    margin-top: 150px;
  }
}
@media (max-width: 576px) {
  .how-to-buy .container .col-box .btn-how-to-buy {
    display: none;
  }
}
.how-to-buy .container .col-box .btn-how-to-buy span {
  font-size: 16px;
}
.how-to-buy .container .col-box .btn-how-to-buy .next {
  background: var(--white);
  border-radius: 50%;
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-to-buy .container .col-box .btn-how-to-buy .next i {
  color: var(--orange);
}
.how-to-buy .noUi-horizontal .noUi-handle {
  right: -13px;
}
.how-to-buy .noUi-handle:before, .how-to-buy .noUi-handle:after {
  display: none;
}
@media (max-width: 576px) {
  .how-to-buy .row-timer {
    display: none;
  }
}
.how-to-buy .row-timer .col-box-time {
  width: 100%;
  height: 100%;
}
.how-to-buy .row-timer .col-box-time .timer {
  display: flex;
  align-items: center;
  padding-bottom: 70px;
}
.how-to-buy .row-timer .col-box-time .timer .time {
  margin-right: 26px;
}
.how-to-buy .row-timer .col-box-time .timer .time:last-child {
  margin-right: 0;
}
.how-to-buy .row-timer .col-box-time .timer .time h3 {
  color: var(--orange);
  font-size: 65px;
  font-weight: 700;
  line-height: 107.5%; /* 69.875px */
  text-transform: uppercase;
}
.how-to-buy .row-timer .col-box-time .timer .time span {
  margin-top: 24px;
  color: var(--orange);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
.how-to-buy .row-timer .col-box-time .timer .image {
  margin-top: -30px;
  margin-right: 26px;
}
.how-to-buy .row-timer .col-box-time .timer .image:last-child {
  margin-right: 0;
}
.how-to-buy .row-timer .col-box-time .subtitle {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 141.5%;
  margin-bottom: 30px;
}
.how-to-buy .row-timer .col-box-time .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.how-to-buy .row-timer .col-box-time .inner .input-box {
  width: calc(50% - 17px);
}
.how-to-buy .row-timer .col-box-time .inner .input-box label {
  width: 100%;
  display: block;
}
.how-to-buy .row-timer .col-box-time .inner .input-box label span {
  color: #3A3D45;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
  margin-left: 10px;
}
.how-to-buy .row-timer .col-box-time .inner .input-box label input {
  width: 100%;
  border-right: 1px solid #B5B3B7;
  border-bottom: 1px solid #B5B3B7;
  border-left: 1px solid #B5B3B7;
  padding: 5px;
  color: #3A3D45;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%;
}
.how-to-buy .row-timer .col-box-time .btn-how-to-buy2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  max-width: 258px;
  width: 100%;
  margin-top: 35px;
}
@media (max-width: 768px) {
  .how-to-buy .row-timer .col-box-time .btn-how-to-buy2 {
    margin-top: 150px;
  }
}
@media (max-width: 576px) {
  .how-to-buy .row-timer .col-box-time .btn-how-to-buy2 {
    display: none;
  }
}
.how-to-buy .row-timer .col-box-time .btn-how-to-buy2 span {
  font-size: 16px;
}
.how-to-buy .row-timer .col-box-time .btn-how-to-buy2 .next {
  background: var(--white);
  border-radius: 50%;
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-to-buy .row-timer .col-box-time .btn-how-to-buy2 .next i {
  color: var(--orange);
}
.how-to-buy .row-timer .col-box-time .title-time {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%;
  margin-top: 48px;
}
.how-to-buy .row-timer .col-box-time .title-time a {
  color: #949494;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%;
  border-bottom: 1px solid #949494;
}

.rich-commercial {
  margin-top: 72px;
}
.rich-commercial-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .rich-commercial-info {
    flex-direction: column;
  }
}
.rich-commercial-title {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 107.5%;
  text-transform: uppercase;
  margin-right: 7.75rem;
}
@media (max-width: 992px) {
  .rich-commercial-title {
    margin-bottom: 19px;
  }
}
@media (max-width: 768px) {
  .rich-commercial-title {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  .rich-commercial-title {
    font-size: 25px;
  }
}
.rich-commercial-subtitle {
  color: #1D1F23;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%;
}
@media (max-width: 576px) {
  .rich-commercial-subtitle {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.rich-commercial-slider {
  position: relative;
}
.rich-commercial-slider img {
  margin: 0 50px;
  transition: 1s;
}
@media (max-width: 576px) {
  .rich-commercial-slider img {
    margin: 0 25px;
  }
}
.rich-commercial-slider img.slick-center {
  transform: scale(1.2);
}
.rich-commercial .slick-track {
  padding: 60px 0;
}
@media (max-width: 576px) {
  .rich-commercial .slick-track {
    padding: 40px 0;
  }
}
@media (max-width: 1100px) {
  .rich-commercial .slick-arrow {
    display: none !important;
  }
}

.slick-arrow {
  font-size: 0;
  border: 0;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FF5B27;
  position: relative;
}

.slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.slick-prev:after {
  content: "\f060";
  font-family: "Font Awesome 5 Pro", serif;
  font-size: 21px;
  color: #fff;
}

.slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 10;
}
.slick-next:after {
  content: "\f061";
  font-family: "Font Awesome 5 Pro", serif;
  font-size: 21px;
  color: #fff;
}

.uncompromising {
  margin-top: 43px;
}
.uncompromising .compromising-heading {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 107.5%; /* 48.375px */
  text-transform: uppercase;
  max-width: 830px;
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .uncompromising .compromising-heading {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .uncompromising .compromising-heading {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.uncompromising .inner {
  display: flex;
  align-items: start;
  justify-content: center;
  overflow-x: scroll;
}
.uncompromising .inner::-webkit-scrollbar {
  width: 0;
  height: 0;
  border-radius: 0;
}
@media (max-width: 768px) {
  .uncompromising .inner {
    justify-content: left;
  }
}
.uncompromising .inner .box-compromising2 {
  padding-left: 55px;
}
@media (max-width: 576px) {
  .uncompromising .inner .box-compromising2 {
    padding-left: 10px;
  }
}
.uncompromising .inner .box-compromising {
  width: calc(25% - 94px);
  margin-right: 90px;
}
.uncompromising .inner .box-compromising:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .uncompromising .inner .box-compromising {
    width: 50%;
    margin-right: 75px;
    position: relative;
    left: 110px;
  }
}
@media (max-width: 576px) {
  .uncompromising .inner .box-compromising {
    width: 30%;
    margin-right: 60px;
    position: relative;
    left: 90px;
  }
}
@media (max-width: 475px) {
  .uncompromising .inner .box-compromising {
    margin-right: 70px;
    width: 50%;
    left: 70px;
  }
}
.uncompromising .inner .box-compromising .box-title {
  display: flex;
  align-items: center;
}
.uncompromising .inner .box-compromising .box-title h2 {
  color: #000;
  font-size: 65px;
  font-weight: 700;
  line-height: 107.5%; /* 69.875px */
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 0 8px;
}
@media (max-width: 992px) {
  .uncompromising .inner .box-compromising .box-title h2 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .uncompromising .inner .box-compromising .box-title h2 {
    font-size: 35px;
  }
}
.uncompromising .inner .box-compromising .box-title samp {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 122.5%;
  white-space: nowrap;
}
.uncompromising .inner .box-compromising .box-title p {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 122.5%;
}
@media (max-width: 768px) {
  .uncompromising .inner .box-compromising .box-title p {
    font-size: 16px;
  }
}

.gallery {
  margin-top: 52px;
}
.gallery .inner-gallery {
  display: flex;
  align-items: center;
  justify-content: left;
  overflow-x: auto;
  gap: 40px;
}
.gallery .inner-gallery::-webkit-scrollbar {
  width: 0;
  height: 0;
  border-radius: 0;
}
.gallery .inner-gallery .gallery-box {
  height: 374px;
  width: 614px;
}
.gallery .inner-gallery .gallery-box img {
  width: 614px;
  height: 100%;
  object-fit: cover;
}
.gallery .inner-gallery-prev {
  display: flex;
  align-items: center;
  justify-content: end;
  overflow-x: auto;
  gap: 40px;
}
.gallery .inner-gallery-prev::-webkit-scrollbar {
  width: 0;
  height: 0;
  border-radius: 0;
}
.gallery .inner-gallery-prev .gallery-box-prev {
  height: 374px;
  width: 614px;
}
.gallery .inner-gallery-prev .gallery-box-prev img {
  width: 614px;
  height: 100%;
  object-fit: cover;
}

.burrow-class-last-block {
  position: relative;
}
@media (min-width: 1200px) {
  .burrow-class-last-block {
    margin-top: -100px;
  }
}
@media (min-width: 768px) {
  .burrow-class-last-block {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .burrow-class-last-block-img {
    margin-top: -50px;
  }
}

.noUi-handle, .noUi-target {
  border: 0;
}

.noUi-horizontal .noUi-handle {
  right: -11px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noUi-horizontal .noUi-handle .noUi-touch-area {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s;
}
.noUi-horizontal .noUi-handle:hover .noUi-touch-area {
  transform: scale(1.5);
}

.footer-section .image-footer {
  min-height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  background: #3A3D45;
  padding: 44px 0 27px 0;
}
footer .inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  footer .inner {
    display: block;
  }
}
footer .inner .footer-box .footer-number {
  color: var(--white);
  font-size: 45px;
  font-weight: 700;
  line-height: 107.5%; /* 48.375px */
  text-transform: uppercase;
}
@media (max-width: 768px) {
  footer .inner .footer-box .footer-number {
    color: rgba(255, 255, 255, 0.35);
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  footer .inner .footer-box .footer-number {
    font-size: 25px;
  }
}
footer .inner .footer-box .icons {
  align-items: center;
  margin-top: 5px;
  display: none;
}
@media (max-width: 768px) {
  footer .inner .footer-box .icons {
    display: flex;
    margin-top: 20px;
  }
}
footer .inner .footer-box .icons .icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #B5B3B7;
}
footer .inner .footer-box .icons .icon-box i {
  color: #3A3D45;
  font-size: 17px;
}
footer .inner .footer-box .box {
  margin-top: 100px;
}
@media (max-width: 768px) {
  footer .inner .footer-box .box {
    display: none;
    margin-top: 0;
  }
}
footer .inner .footer-box .box p {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
footer .inner .footer-box2 {
  display: flex;
  align-items: start;
}
@media (max-width: 768px) {
  footer .inner .footer-box2 {
    display: block;
  }
}
footer .inner .footer-box2 .links {
  margin-right: 75px;
}
@media (max-width: 768px) {
  footer .inner .footer-box2 .links {
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 12px;
  }
}
footer .inner .footer-box2 .links a {
  display: block;
  color: var(--white, #FFF);
  font-size: 18px;
  font-weight: 700;
  line-height: 141.5%; /* 25.47px */
  margin-bottom: 16px;
}
footer .inner .footer-box2 .links a:last-child {
  margin-bottom: 0;
}
footer .inner .footer-box2 .button-logo .button {
  padding: 5px 6px 5px 15px;
  border: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin-right: 55px;
  cursor: pointer;
}
@media (max-width: 768px) {
  footer .inner .footer-box2 .button-logo .button {
    margin-right: 0;
  }
}
footer .inner .footer-box2 .button-logo .button span {
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
footer .inner .footer-box2 .button-logo .button .arrow-right {
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--White, #FFF);
  width: 50px;
  height: 50px;
}
footer .inner .footer-box2 .button-logo .image {
  margin-top: 30px;
}
footer .inner .footer-box2 .box {
  display: none;
}
@media (max-width: 768px) {
  footer .inner .footer-box2 .box {
    display: block;
    margin-top: 20px;
  }
}
footer .inner .footer-box2 .box p {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}
@media (max-width: 768px) {
  footer .inner .footer-box2 .box p {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  footer .inner .footer-box2 .box p {
    font-size: 12px;
  }
}
footer .inner .footer-box2 .icons {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
@media (max-width: 768px) {
  footer .inner .footer-box2 .icons {
    display: none;
  }
}
footer .inner .footer-box2 .icons .icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #B5B3B7;
}
footer .inner .footer-box2 .icons .icon-box i {
  color: #3A3D45;
  font-size: 17px;
}
footer .inner .footer-box2 .fix-top {
  cursor: pointer;
  margin-left: 51px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  footer .inner .footer-box2 .fix-top {
    display: none;
  }
}
footer .inner2 {
  display: flex;
  align-items: start;
  margin-top: 55px;
}
@media (max-width: 992px) {
  footer .inner2 {
    display: block;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  footer .inner2 .box1 {
    display: block !important;
  }
}
footer .inner2 .box {
  display: flex;
  align-items: start;
}
@media (max-width: 768px) {
  footer .inner2 .box {
    display: flex;
    margin: 0;
  }
}
footer .inner2 .box p {
  margin: 0;
  color: var(--text-gray, #B5B3B7);
  font-size: 14px;
  font-weight: 400;
  line-height: 141.5%; /* 19.81px */
}
@media (max-width: 768px) {
  footer .inner2 .box p {
    margin-bottom: 20px;
    font-size: 12px;
    padding: 0;
  }
}
footer .inner2 .fix-top {
  cursor: pointer;
  margin-top: 40px;
  display: none;
}
@media (max-width: 768px) {
  footer .inner2 .fix-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
